  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{action}}</h1>
      <div class="buttons">
        <button ng-hide="isAdd" ng-click="deleteBirthday()" class="button button-icon icon ion-trash-a"></button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Name" ng-model="birthday.Name">
          </label>
          <label class="item item-input">
            <input type="date" placeholder="Birthday" ng-model="birthday.Date">
          </label>
      </div>
     <div class="padding">
          <button ng-click="saveBirthday()" class="button button-block button-positive activated">Save</button>
        </div> 


    </ion-content>
  </ion-modal-view>

